{% import "link_button.twig" as macros %}

{% extends "templates/car_layout.twig" %}

{% block car_content %}
<div style="font-size: 40px">
    {{car.title}}
</div>

<div style="
            padding-top: 10px;
        ">
                    {{macros.link_button("cars/" ~ car.short_name, "Image", true)}}
                    {{macros.link_button("cars/" ~ car.short_name ~ "?desc", "Description", false)}}
                    {{macros.link_button("cars/" ~ car.short_name ~ "/edit", "Edit", false)}}

            <div class="card" style="width: 100%;">
                <img style="object-fit: cover" src="{{car.image}}" class="card-img-top">
            </div>
</div>
{% endblock %}



